
.bgci{
    background-color: #E5E8E8;
    margin-top: 70px;
    padding-top: 200px;}

.autos{
    margin-bottom: 50px;   
}

.bgbtn{
    background-color: #931711;
    color: #fafafa;
    
}

.bgbtn:hover{
    background-color:#4A0805;
    color: bisque;
}



