    .colorFooter{
    font-size: 18px;
    font-weight: bold;
    background-color: #4A0805;
}
.footer{
    cursor: pointer;
    color: #fafafa;
    font-size: 20px;
    text-transform: uppercase;
}

.border{
    border: #4A0805;
    background-color: #4A0805;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

