

header{
    background-color:#4A0805;
    border-bottom: black solid 2px;
    
    .logo{
        width: 10rem;
        
    }

    .colorFont{
        color: #fafafa;
        font-size: 18px;
        font-weight: bold;
    }

    .colorFont2{
        font-size: 40px;
        color: #fafafa;
    }

    h1{
        color: #fafafa;
        font-weight: bolder;
        animation-name: texto;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

}